body.login-bg {
    background: #7687A1;
    font-family: Arial;
    text-align: center;
}

.login-card {
    background: #E8C370;
    width: 350px;
    margin: 80px auto;
    padding: 30px;
    border-radius: 20px;
}

.input-box {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: none;
}

.btn {
    background: #5A4BA3;
    color: white;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.error { color: red; }

.tagline {
    margin-top: 10px;
    font-size: 12px;
}

.home-bg {
    background: white;
    padding: 40px;
    font-family: Arial;
}

.greet {
    font-size: 32px;
    font-weight: bold;
}

.greet span {
    color: #5A4BA3;
}

.section-title {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #5A4BA3;
}

.card {
    background: #4A5568;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: white;
    margin: 10px 0;
}

.date {
    background: #E8C370;
    padding: 5px 10px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}

.actions a {
    color: white;
    font-size: 18px;
    margin-left: auto;
}

.add-form input {
    padding: 10px;
    margin: 5px;
}

.add-form button {
    background: #5A4BA3;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
}
